.glass{
    background: rgba(255, 255, 255, 0.809);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 2rem whitesmoke;
    backdrop-filter: blur(3rem);
    
    @apply border-4 border-gray-50 shrink-0  w-[30%] rounded-3xl py-2 px-2 min-w-max
}
.profileimg{
    @apply border-4 border-gray-100 w-[134px] h-[134px] rounded-full shadow-lg cursor-pointer;
    @apply hover:border-gray-200
}
.textbox{
    @apply border-0 my-1 sm:px-2 px-1 py-2 rounded-xl flex mx-auto shadow-sm text-lg w-[90%] ;
    @apply focus:outline-none;
}
.btn{
    @apply border bg-indigo-500 py-2  mt-1 flex mx-auto rounded-lg text-gray-50 text-xl shadow-sm text-center justify-center w-[90%] ;

}
.btn:hover{
    background-color: #ff6a6a;
    transition-duration: 100ms;
}
input[type='file']{
    display: none;
}